
.flex-container {
    display: flex;
    justify-content: space-around;
    background-color: #705ee5da;
    
}

.flex-container > div {
    background-color: rgb(100, 159, 219);
    text-align:center;
    width: 300px;
    margin: 10px;
    justify-content:space-between;
    line-height: 70px;
    font-size: 20px;
    }
/*.navig{
   display: flex-box; 
   background-color: DodgerBlue;
   color: white;
   width: 100px;
   margin: 10px;
   text-align: center;
   line-height: 75px;
   font-size: 30px;
}*/

body{
    background-color: darkgrey;
    border: 10px;
    border-color: black;
}

.topbanner{
text-align: center;
background-color: rgb(187, 212, 212);
border: color solid black; 
border-width: 10px;
}


.container1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2;
    background-color: darkgray;
    
    }

.container2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:50% 50%;
    border:solid black 20px;
}

.vid1{
  grid-column-start:1 ; 
  grid-column-end:2;
  grid-row-start:1 ;
  grid-row-end: 2; 
  border-color: black;
  padding-left: 100px;
  padding-top: 100px;
}
.capt{
    grid-column-start:1; 
    grid-column-end:2;
    grid-row-start:2 ;
    grid-row-end: 3; 
    font-style: italic;
    padding-left: 100px;
    padding-bottom: 300px;
}

.pic1{
    grid-column-start:2; 
    grid-column-end:3;
    grid-row-start:1;
    grid-row-end: 2; 
    padding-left: 200px;   
    padding-top: 50px;  
}

.capt2{
    grid-column-start:2; 
    grid-column-end:3;
    grid-row-start: 2;
    grid-row-end: 3; 
    font-style: italic;
    padding-left: 200px; 
}

.item-a {
grid-column-start:1;
grid-row-start:1;    
}

.item-b {
grid-column-start:2;
grid-row-start:1;
}

.item-c {
grid-column-start:1;    
grid-row-start: 2;    
}

.item-d {
grid-column-start: 2;
grid-row-start: 2;
}

.about{
font-size: 30px;
font-family: Arial, Helvetica, sans-serif;
text-align: justify;
}

.autobio{
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
}

.logo{
    font-size: 12px;
    font: rgba(23, 35, 1, 0.977);
    background-color: rgba(169, 169, 169, 0);
}


.gallery{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows:33% 33% 33%;
border-color: black;
border-style: solid;
margin-top: 10px;
}

.pic-a{
    grid-column-start:1 ;
    grid-row-start:1 ;
    grid-column-end: 2;
    grid-row-end: 2;
    align-content: center;
}
.pic-b{
    grid-column-start:2 ;
    grid-row-start:1 ;
    grid-column-end: 3;
    grid-row-end: 2;
    align-content: center;
}
.pic-c{
    grid-column-start:3 ; 
    grid-row-start:1 ;
    grid-column-end: 4;
    grid-row-end: 2;
    align-items: center;
}
.pic-d{
    grid-column-start:1;  
    grid-row-start:2 ;
    grid-column-end: 2;
    grid-row-end: 3;
}
.pic-e{
    grid-column-start:2 ;  
    grid-row-start:2 ; 
    grid-column-end: 3;
    grid-row-end: 3;
}

.pic-f{
grid-column-start: 3;
grid-row-start:2 ;
grid-column-end: 4;
grid-row-end: 3;
}

.pic-g{
grid-column-start: 1;
grid-row-start: 3;
grid-column-end: 2;
grid-row-end: 4;
padding-top: 20px;
}

.pic-h{
    grid-column-start: 2;
    grid-row-start: 3;
    grid-column-end: 3;
    grid-row-end: 4;  
    padding-top: 40px;  
}

.pic-i{
    grid-column-start: 3;
    grid-row-start: 3;
    grid-column-end: 4;
    grid-row-end: 4;
}
.sell {
    font-size: 100px;
    text-align: center;
    color: crimson;
}
.scary{
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 16px;
color: darkgreen;
}
