.sticky {
  position: sticky, top;
  
}
.gal:hover{
    color: red;
    background-color: darkgray;
    text-shadow: 10px;
}
.wb2:hover{
    color:red;
    background-color: darkgrey;
}
.wb3:hover{
    color:red;
    background-color: darkgrey;
}
.wb4:hover{
    color:red;
    background-color: darkgrey;
}
.indx:hover{
    color:red;
    background-color: darkgrey;
}

.choices:hover{
    color: red;
    background-color: darkgray;
}

#cont:hover{
    color:rgb(234, 49, 49);
    background-color:rgb(249, 231, 208);
}


                    

.flex-container {
    display: flex; /*creates a flex box*/
    background-color: #705ee5da;
    position: sticky; /* fix nav bar on page*/
    top: 0;           /* specifies page position and border*/
     overflow: hidden;  /*hide any content that exceeds the dimensions of the <div> , 
                        preventing it from being displayed outside. */
    
    
}

.flex-container > div {
    background-color: rgb(100, 159, 219);
    text-align:center;
    width: 300px;
    margin: 10px;
    justify-content:space-between;
    line-height: 70px;
    font-size: 20px;
    }


body{
    background-color: darkgrey;
    border: 10px;
    border-color: black;
}

.topbanner{
    text-align: center;
    background-color: rgb(187, 212, 212);
    border: color solid black; 
    border-width: 10px;
}


.container1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2;
    background-color: darkgray;
}

.container2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:50% 50%;
    border: black solid 6px; 
    padding: 15px;
    text-align: center;
    color: gb(89, 109, 121);
    
}

.vid1{
    grid-column-start:1 ; 
    grid-column-end:2;
    grid-row-start:1 ;
    grid-row-end: 2; 
    border-color: black;
    padding-top: 100px;
}
.capt{
    grid-column-start:1; 
    grid-column-end:2;
    grid-row-start:2 ;
    grid-row-end: 3; 
    font-style: italic;
    padding-left: 100px;
    padding-bottom: 300px;
}

.pic1{
    grid-column-start:2; 
    grid-column-end:3;
    grid-row-start:1;
    grid-row-end: 2; 
    padding-left: 200px;   
    padding-top: 50px;  
}

.capt2{
    grid-column-start:2; 
    grid-column-end:3;
    grid-row-start: 2;
    grid-row-end: 3; 
    font-style: italic;
    padding-left: 200px; 
}

.item-a {
    grid-column-start:1;
    grid-row-start:1;    
}

.item-b {
    grid-column-start:2;
    grid-row-start:1;
}

.item-c {
    grid-column-start:1;    
    grid-row-start: 2;    
}

.item-d {
    grid-column-start: 2;
    grid-row-start: 2;
}

.about{
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    margin:10px 300px 10px;
}

.autobio{
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif, Helvetica, sans-serif 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-self:center;
    margin: 10px 450px;
}

.logo{
    font-size: 12px;
    font: rgba(23, 35, 1, 0.977);
    background-color: rgba(169, 169, 169, 0);
}


.gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:33% 33% 33%;
    border-color: black;
    border-style: solid;
    margin-top: 10px;
    gap: 10px
}



.pic-a{
    grid-column-start:1 ;
    grid-row-start:1 ;
    grid-column-end: 2;
    grid-row-end: 2;
    align-content: center;
}
.pic-b{
    grid-column-start:2 ;
    grid-row-start:1 ;
    grid-column-end: 3;
    grid-row-end: 2;
    align-content: center;
}
.pic-c{
    grid-column-start:3 ; 
    grid-row-start:1 ;
    grid-column-end: 4;
    grid-row-end: 2;
    align-content: center;
}
.pic-d{
    grid-column-start:1;  
    grid-row-start:2 ;
    grid-column-end: 2;
    grid-row-end: 3;
}
.pic-e{
    grid-column-start:2 ;  
    grid-row-start:2 ; 
    grid-column-end: 3;
    grid-row-end: 3;
}

.pic-f{
    grid-column-start: 3;
    grid-row-start:2 ;
    grid-column-end: 4;
    grid-row-end: 3;
}

.pic-g{
    grid-column-start: 1;
    grid-row-start: 3;
    grid-column-end: 2;
    grid-row-end: 4;
}

.pic-h{
    grid-column-start: 2;
    grid-row-start: 3;
    grid-column-end: 3;
    grid-row-end: 4;  
    
}

.pic-i{
    grid-column-start: 3;
    grid-row-start: 3;
    grid-column-end: 4;
    grid-row-end: 4;
}
.sell {
    font-size: 100px;
    color: rgb(89, 109, 121);
}

.scary{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: rgb(185, 241, 241);
    margin:10px 450px;
}